<header class="header" id="header">
  <include src="./burgermenu.html"></include>
  <div class="header__hero">
    <h1 class="h1" tabindex="1">Anonymous proxy</h1>
    <p class="slogan" tabindex="1">In hac habitasse platea dictumst.</p>
    <a
      href="#section02"
      title="Ir a la sección 3 Reasons To Purchase"
      tabindex="-1"
      ><img
        src="./assets/images/ico-scroll-down.png"
        class="icon-scroll-down"
        alt="Ir a la sección 3 Reasons To Purchase"
        tabindex="1"
    /></a>
  </div>
</header>
