// Sections Background Colors

$colorHeader: #0271bc;
$colorFirstSection: white;
$colorSecondSection: #eff9ff;
$colorFooter: #304268;

// buttons Color

$colorPrimaryButton: #f26002;
$colorSecondaryButton: white;

// Text Colors
$fontColorLight: white;
$fontColorLightMidtone: #8ccbea;
$fontColorMidtone: #f26002;
$fontColorDarkMidtone: #4a4a4a;
$fontColorDark: black;

// Text Font Family
$fontFamilyTitles: "Roboto Slab", serif;
$fontFamilyText: "Roboto", sans-serif;
