// Sections Background Colors

$colorHeader: #233D8E;
$colorFirstSection: white;
$colorSecondSection: #19B3FC;
$colorFooter: #233D8E;

// buttons Color

$colorPrimaryButton: #F44747;
$colorSecondaryButton: white;

// Text Colors
$fontColorLight: white;
$fontColorLightMidtone: #19B3FC;
$fontColorMidtone: #F44747;
$fontColorDarkMidtone: #F4BB19;
$fontColorDark: #233D8E;

// Text Font Family
$fontFamilyTitles: 'Didact Gothic', sans-serif;
$fontFamilyText: 'Didact Gothic', sans-serif;;
