<div class="animals">
    <img src="./images/Logos/ballena.png" alt="imagen ballena">
    <img src="./images/Logos/estrellita.png" alt="imagen estrellita">
    <img src="./images/Logos/pecesito.png" alt="imagen pececito">
    <div class="div-imagen">
        <div>
            ¡Haz click y me camuflo!
        </div>
        <img id="pulpito" src="./images/Logos/pulpito.png" alt="imagen pulpito"> 
    </div>
    <img src="./images/Logos/tiburon.png" alt="imagen tiburón">
    <img src="./images/Logos/tortuguita.png" alt="imagen tortuguita">
</div>