<nav class="header__menu" role="navigation">
  <div class="menu-toggle">
    <input class="menu-toggle__input" type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul class="menu">
      <a href="#header"><li>Home</li></a>
      <a href="#section01"><li>Conócenos</li></a>
      <a href="#section02"><li>Instalaciones</li></a>
      <a href="#section02"><li>Clases</li></a>
      <a href="#section02"><li>Contáctanos</li></a>
      <a href="#section02"><li>Ubicación</li></a>
    </ul>
  </div>
</nav>
