<section class="contact-cover">
    <div class="contact">
      <h2 class="section-title" tabindex="1">Contáctanos</h2>
      <div class="contact-info">
    <div class="info-empresa">
      <img src="./images/Logos/logo-aquana2.png" alt="logo Aquana2">
      <a href="tel:+52">124 555 000</a>
      <a href="mailto:aquana2s@correo.com">info@aquana2.com</a>
  </div>
  <form
    action="https://formspree.io/myybyzqa"
    method="POST"
  >
    <label class="label" for="name">Nombre y apellidos *</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Nombre..."
      required
    />
    <label class="label" for="email">Email *</label>
    <input
          type="email"
          id="email"
          name="email"
          placeholder="nombre.apellidos@mail.com"
          required
    />
    <label class="label" for="telephone">Teléfono</label>
    <input
          type="tel"
          id="telephone"
          name="telephone"
          placeholder="Ej. 123456789"
    />
    <label class="label" for="comments">
      Mensaje <span class="main__required">*</span>
    </label>
    <textarea
      class="textarea"
      id="comments"
      name="comments"
      row="8"
      cols="45"
      placeholder="¿Qué necesitas?"
      required
    ></textarea>
    <input
      class="contact__button"
      type="submit"
      value="Enviar"
    />
  </form>
</div>
</div>
</section>
