<footer class="footer">
  <div class="footer__elements">
    <nav>
      <ul class="list-sections">
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a Articles"
            class="link-sections"
            >Articles</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Books" class="link-sections"
            >Books</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Events" class="link-sections"
            >Events</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a Reasons"
            class="link-sections"
            >Reasons</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Tips" class="link-sections"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="list-socialmedia">
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a Twitter"
            class="link-socialmedia"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a Instagram"
            class="link-socialmedia"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a Mastodon"
            class="link-socialmedia"
            target="_blank"
            >Mastodon social</a
          >
        </li>
      </ul>
    </nav>
    <small class="copy">
      &copy;2017 <br />
      we <span class="heart-icon">&#10084;</span> components
    </small>
  </div>
</footer>
