<footer class="footer">
  <div class="footer-nav">
    <a href="index.html" label="Ir a Home">
      <img src="./images/Logos/logo-aquana2-blanco.png" alt="Logo de Aquana2">
    </a>
    <nav>
      <ul class="list-sections">
        <li>
          <a
            href="index.html"
            title="Ir a Articlhtml"
            class="link-sections"
            >Conócenos</a
          >
        </li>
        <li>
          <a href="index.html" title="Ir a Books" class="link-sections"
            >Instalaciones</a
          >
        </li>
        <li>
          <a href="index.html" title="Ir a Events" class="link-sections"
            >Clases</a
          >
        </li>
        <li>
          <a
            href="index.html"
            title="Ir a Reasons"
            class="link-sections"
            >Contáctanos</a
          >
        </li>
      </ul>
    </nav>
   </div>
    <div class="footer__elements">
    <nav>
      <ul class="list-socialmedia">
        <li>
          <a
            href="https://twitter.es/"
            title="Ir a Twitter"
            class="link-socialmedia"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://instagram.es/"
            title="Ir a Instagram"
            class="link-socialmedia"
            target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </nav>
    <small class="copy">
      &copy;2021  
    <span class="small">Aquana2</span>
    </small>
  </div>
</footer>
