<footer class="footer" id="footer">
  <div class="footer-nav">
    <a href="index.html" label="Ir a Home">
      <img src="./images/Logos/logo-aquana2-blanco.png" alt="Logo de AquaNa2">
    </a>
    <nav>
      <ul class="list-sections">
        <li>
          <a
            href="./meetus.html"
            title="Ir a Conócenos"
            class="link-sections"
            >Conócenos</a
          >
        </li>
        <li>
          <a href="./facilities.html" title="Ir a Instalaciones" class="link-sections"
            >Instalaciones</a
          >
        </li>
        <li>
          <a href="./courses.html" title="Ir a Clases" class="link-sections"
            >Clases</a
          >
        </li>
        <li>
          <a
            href="./index.html#contact"
            title="Ir a Contáctanos"
            class="link-sections"
            >Contáctanos</a
          >
        </li>
        <li>
          <a
            href="./location.html"
            title="Ir a Ubicación"
            class="link-sections"
            >Ubicación</a
          >
        </li>
      </ul>
    </nav>
   </div>
    <div class="footer__elements">
    <nav>
      <ul class="list-socialmedia">
        <li>
          <a
            href="https://www.facebook.com/natacionaquana2"
            title="Ir a Facebook"
            class="link-socialmedia"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.instagram.com/natacion_aquana2/"
            title="Ir a Instagram"
            class="link-socialmedia"
            target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </nav>
    <small class="copy">
      &copy;2021  
    <span class="small">AquaNa2</span>
    </small>
  </div>
</footer>
