<header class="header" id="header">
  <nav class="header__menu" role="navigation">
    <div class="menu-toggle">
      <input class="menu-toggle__input" type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu">
        <a href="index.html"><li>Home</li></a>
        <a href="./meetus.html"><li>Conócenos</li></a>
        <a href="./facilities.html"><li>Instalaciones</li></a>
        <a href="./courses.html"><li>Clases</li></a>
        <a href="./index.html#contact"><li>Contáctanos</li></a>
        <a href="./location.html"><li>Ubicación</li></a>
      </ul>
    </div>
    <!-- <a href="./index.html"><img class="logo-mobile" src="./images/Logos/logo-aquana2.png" alt="Logo AquaNa2"></a> -->
  </nav>
  <nav class="header__menu-bar" role="navigation">
    <a href="./index.html" title="Ir a la página principal"><img src="./images/Logos/logo-aquana2-blanco.png" alt="Logo AquaNa2"></a>
    <ul>
      <li><a href="./meetus.html" title="Ir a Conócenos">Conócenos</a></li>
      <li><a href="./facilities.html" title="Ir a Instalaciones">Instalaciones</a></li>
      <li><a href="./courses.html" title="Ir a Clases">Clases</a></li>
      <li><a href="./index.html#contact" title="Ir a Contáctanos">Contáctanos</a></li>
      <li><a href="./location.html" title="Ir a Ubicación">Ubicación</a></li>
    </ul>
  </nav>
  <div class="header__hero">
    <h1 class="h1" tabindex="1">La seguridad y confianza comienzan aquí… ¡Nada como
      nadar!</h1>
  <div class="wave-svg"></div>
    <div class="wave"> 
    <p class="slogan" tabindex="1">Alberca Climatizada – Maestros Calificados – Diversión
      Garantizada</p>
    </div>
  </div>
</header>

