<section class="section02" id="section02">
  <h2 class="section-title" tabindex="1">3 reasons to purchase</h2>
  <div class="article-container">
    <article class="article">
      <h3 class="article-title" tabindex="1">Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article">
      <h3 class="article-title" tabindex="1">Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article">
      <h3 class="article-title" tabindex="1">Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <button class="section02__button">More reasons</button>
</section>
