<section class="section02" id="section02">
  <h2 class="section-title" tabindex="1">¿Qué ofrecemos en Aquana2?</h2>
  <div class="article-container">
    <article class="article article1">
      <img src="./images/nina-buzo.jpg" alt="">
      <div class="article-box">
          <h3 class="article-title" tabindex="1">Nuestra historia</h3>
          <p>AquaNa2 nace en el 2021 con la intención de ayudar a que todos los niños de la comunidad aprendan a nadar con seguridad. Nuestras instalaciones climatizadas nos permiten que tus hijos aprendan y se diviertan, ¡todos los días del año!</p>
    </div>
    </article>
    <article class="article article2">
      <img src="./images/nado-mariposa.jpg" alt="">
      <div class="article-box">
          <h3 class="article-title" tabindex="1">Misión</h3>
          <p>Ofrecer educación acuática
            con calidad y calidez
            para disfrutar con seguridad del agua y la vida.</p>
      </div>
   </article>
    <article class="article article3">
      <img src="./images/sydney-rae-74vPYQxfVBI-unsplash.jpg" alt="">
      <div class="article-box">
          <h3 class="article-title" tabindex="1">Valores</h3>
          <ul>
            <li>Seguridad</li>
            <li>Calidad</li>
            <li>Comunidad</li>
          </ul>
      </div>
    </article>
  </div>
</section>
