.section02 {
  background-color: var(--color-second-section);
  width: 100%;
  padding: 30px 0px 60px 0px;
  text-align: center;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media all and (min-width: 1280px) {
    padding: 60px 0px;
  }

  &__button {
    width: 184px;
    height: 45px;
    color: var(--color-secondary-button);
    background-color: var(--color-primary-button);
    border: none;
    border-radius: 22.5px;
    margin-top: 45px;
    transition: box-shadow ease-in 0.7s, font-size ease 0.7s;

    @media all and (min-width: 768px) {
      width: 210px;
    }

    @media all and (min-width: 1280px) {
      width: 255px;
    }

    &:hover {
      box-shadow: 2px 4px 6px 0 black;
    }

    &:active {
      color: var(--color-primary-button);
      font-size: 18px;
      background-color: var(--color-secondary-button);
      border: var(--color-primary-button) solid 2px;
      box-shadow: none;
    }
  }
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 27.5px;
  }

  @media all and (min-width: 1280px) {
    grid-gap: 26.2px;
  }

  & .article {
    width: 184px;
    margin: auto;
    padding-top: 45px;

    @media all and (min-width: 768px) {
      width: 210px;

      & .article-title {
        margin-bottom: 14px;
      }
    }

    @media all and (min-width: 1280px) {
      width: 350px;
    }
  }
}
