.wave-dark {
  width: 100%;
  height: 45px;
  background-image: url(../../images/wave-dark.svg);
  display: block;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
}

.animals {
    background-color: var(--color-header);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animals img {
    width: 50px;
}

/* TABLET */
@media all and (min-width: 768px) {
    .animals {
        height: 180px;
    }
    
    .animals img {
        width: 80px;
    }

}

/* DESKTOP */

@media all and (min-width: 1280px) {
    /* .wave-dark {
        width: 110%;
        animation-name: wave-dark;
        animation-duration: 5s;
        animation-iteration-count:infinite;
        animation-delay: 1s;
      }
      
      @keyframes wave-dark {
          from {
            transform: translateX(80px) rotate(180deg);
          }
          50% {
            transform: translateX(0) rotate(180deg);
          }
          to {
            transform: translateX(80px) rotate(180deg);
          }
        } */

    .animals {
        height: 200px;
    }
    
    .animals img {
        width: 100px;
        margin: 0 20px;
    }

}
