.wave-dark {
  width: 100%;
  height: 45px;
  background-image: url(../../images/wave-dark.svg);
  display: block;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
}

.animals {
    background-color: var(--color-header);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animals img {
    width: 50px;
}

.div-imagen {
    position:relative;
  }
  
.div-imagen div {
    background-color: rgba(252, 252, 252, 0.8);
    color: var(--font-color-dark);
    font-family: var(--font-family-text);
    border-radius: 4px;
    opacity: 0;
    position:absolute;
    top: -20px;
    left: 35px;
    z-index: 2;
    padding:10px;
    margin:0;
  }

.div-imagen div:hover {
    opacity: 1;
}

.pulpito-camouflage {
    animation-name: camouflage;
    animation-duration: 4s;
}

@keyframes camouflage {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

  

/* TABLET */
@media all and (min-width: 768px) {
    .animals {
        height: 180px;
    }
    
    .animals img {
        width: 80px;
    }

}

/* DESKTOP */

@media all and (min-width: 1280px) {
    .animals {
        height: 200px;
    }
    
    .animals img {
        width: 100px;
        margin: 0 20px;
    }

}
