.contact-cover {
  background-color: var(--color-ballena);
  width: 100%;
  padding: 30px;
}

.contact {
  max-width: 450px;
  background-color: var(--color-dark);
  border-radius: 25px;
  margin: auto;
  padding: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact .section-title {
  margin: 1px 0 15px 0;
}

.contact .info-empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.contact .info-empresa a {
  color: var(--font-color-light);
}

.contact .info-empresa a:hover {
  color: var(--color-pulpito);
}

.contact .info-empresa img {
  width: 120px;
  height: 120px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input {
  height: 30px;
  border-radius: 6px;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.contact .textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 6px;
    padding: 2px 10px;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 54px;
  font-size: 16px;
  line-height: 0;
  font-weight: 600;
  color: var(--color-secondary-button);
  background-color: var(--color-primary-button);
  border-radius: 24px;
  margin: 30px auto;
  border: none;
}

.contact__button:hover {
  border: var(--color-primary-button) solid 1px;
  color: var(--color-primary-button);
  background-color: var(--color-secondary-button);
}

.contact__button:active {
  background-color: var(--color-pez);
  color: var(--font-color-light);
  border: none;
}

/* TABLET */

@media all and (min-width: 768px) {
  .contact {
    max-width: 768px;
    padding: 30px 39px 60px 39px;
  }

  .contact .section-title {
    margin: 0px 0 30px 0;
  }
}

/* DESKTOP */

@media all and (min-width: 1280px) {
  .contact {
    max-width: 1024px;
    max-height: 550px;
    margin: 45px auto;
  }

  .contact .textarea {
    height: 100px;
  }

  .contact-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .contact-info .info-empresa img {
    width: 220px;
    height: 220px;
    margin-top: 0;
  }
  
  .contact-info .info-empresa a {
    font-size: 26px;
    font-weight: 700;
    margin: 10px
  }

  .contact__button {
    width: 125px;
  }
}