.courses {
    margin: auto;
    padding: 40px 15px 30px 15px;
    background: url("../../images/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.courses h1 {
    color: var(--font-color-dark);
    font-family: var(--font-family-titles);
    text-align: center;
    font-size: 35px;
    margin: auto;
    padding-bottom: 15px;
}

.courses p {
    color: var(--font-color-dark);
    font-family: var(--font-family-titles);
    font-size: 18px;
    margin: auto;
}

.courses .courses-boxes .box {
    width: 100%;
    min-width: 310px;
    max-width: 650px;
    margin: 20px auto;
    background-color: var(--color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-boxes .box h3 {
    width: 100%;
    height: 40px;
    color: var(--color-light);
    font-family: var(--font-family-titles);
    font-size: 24px;
    text-align: center;
}

.courses .courses-boxes .box p {
    margin: 0 15px 15px 15px;
}

.courses .courses-boxes button {
    width: 150px;
    height: 40px;
    margin: 10px;
    border: none;
    color: var(--color-light);
    border-radius: 25px;
    font-size: 18px;
    transition: box-shadow 0.8s ease;
}

.courses .courses-boxes button:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.courses .courses-boxes .box button:active {
    box-shadow: none;
    background-color: var(--color-dark);
}

/* Estrellitas */

.courses .courses-boxes .stars {
    border: 3px solid var(--color-estrellita);
}

.courses .courses-boxes .stars h3 {
    background-color: var(--color-estrellita);
}

.courses .courses-boxes .box img{
    width: 150px;
}
.courses .courses-boxes .stars p {
    color: var(--color-estrellita);
}

.courses .courses-boxes .stars button {
    background-color: var(--color-estrellita);
}

/* Tortuguitas */

.courses .courses-boxes .turtles {
    border: 3px solid var(--color-tortuga);
}

.courses .courses-boxes .turtles h3 {
    background-color: var(--color-tortuga);
}

.courses .courses-boxes .turtles p {
    color: var(--color-tortuga);
}

.courses .courses-boxes .turtles button {
    background-color: var(--color-tortuga);
}

/* Pececitos */
.courses .courses-boxes .fishes {
    border: 3px solid var(--color-pez);
}

.courses .courses-boxes .fishes h3 {
    background-color: var(--color-pez);
}

.courses .courses-boxes .fishes p {
    color: var(--color-pez);
}

.courses .courses-boxes .fishes button {
    background-color: var(--color-pez);
}

/* Pulpitos */
.courses .courses-boxes .octopus {
    border: 3px solid var(--color-pulpito);
}

.courses .courses-boxes .octopus h3 {
    background-color: var(--color-pulpito);
}

.courses .courses-boxes .octopus p {
    color: var(--color-pulpito);
}

.courses .courses-boxes .octopus button {
    background-color: var(--color-pulpito);
}

/* Orcas */
.courses .courses-boxes .whales {
    border: 3px solid var(--color-ballena);
}

.courses .courses-boxes .whales h3 {
    background-color: var(--color-ballena);
}

.courses .courses-boxes .whales p {
    color: var(--color-ballena);
}

.courses .courses-boxes .whales button {
    background-color: var(--color-ballena);
}

/* Tibunores */
.courses .courses-boxes .sharks {
    border: 3px solid var(--color-tiburon);
}

.courses .courses-boxes .sharks h3 {
    background-color: var(--color-tiburon);
}

.courses .courses-boxes .sharks p {
    color: var(--color-tiburon);
}

.courses .courses-boxes .sharks button {
    background-color: var(--color-tiburon);
}

/* Acuaerobics */
.courses .courses-boxes .aquaerobics {
    border: 3px solid black;
}

.courses .courses-boxes .aquaerobics h3 {
    background-color: black;
}

.courses .courses-boxes .aquaerobics p {
    color: black;
}

.courses .courses-boxes .aquaerobics button {
    background-color: black;
}

/* DESKTOP */

@media all and (min-width: 1280px) {
    .courses {
        padding-top: 100px;
    }

    .courses h1 {
        font-size: 42px;
    }

    .courses .courses-boxes {
        margin-top: 30px;
    }

    .courses .courses-boxes .box button {
        margin-bottom: 30px;
    }

    .courses .courses-boxes .kids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        max-width: 1024px;
        grid-gap: 50px;
    }

    .courses .courses-boxes .kids .box {
        height: 590px;
        max-width: none;
        margin: 0;
    }

    .courses .courses-boxes .aquaerobics {
        max-width: 1024px;
        width: 100%;
    }

    .courses .courses-boxes .aquaerobics h3 {
        margin-bottom: 20px;
    }
}





