.facilities {
    padding-top: 50px;
    background: url(../../images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.facilities h1 {
    text-align: center;
    color: var(--font-color-midtone);
    margin-bottom: 30px;
}

.facilities .carousel {
    max-width:  1024px;
    margin: auto;
}

.facilities .carousel img {
    width: 375px;
    height: 281px;
    object-fit: cover;
}

.facilities .facilities-description {
    max-width: 750px;
    margin: auto;
    padding: 15px;
    color: var(--font-color-dark);
}

.facilities .facilities-description h3 {
    color: var(--font-color-dark);
    margin-top: 20px;
}

/* TABLET */
@media all and (min-width: 768px) {
    .facilities .facilities-description {
        display: none;
        padding-bottom: 30px;
    }
}

/* DESKTOP */

@media all and (min-width: 1280px) {
    .facilities {
        padding-top: 120px;
    }

    .facilities h1 {
        margin-bottom: 45px;
    }

    .facilities .carousel {
        margin: 30px auto;
    }

    .facilities .carousel img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .facilities .facilities-description {
        display: none;
    }

    .facilities .facilities-description h3 {
        margin-top: 25px;
    }

    .facilities .carousel-container {
        padding-bottom: 40px;
    }
}