.facilities {
    padding-top: 50px;
    background-color: var(--color-dark);
}

.facilities h1 {
    text-align: center;
    color: var(--font-color-midtone);
    margin-bottom: 30px;
}

.facilities .carousel {
    max-width:  1024px;
    margin: auto;
}

.facilities .facilities-description {
    max-width: 750px;
    margin: auto;
    padding: 15px;
    color: var(--font-color-light);
}

.facilities .facilities-description h3 {
    color: var(--font-color-light);
    margin-top: 20px;
}

/* DESKTOP */

@media all and (min-width: 1280px) {
    .facilities {
        padding-top: 120px;
    }

    .facilities h1 {
        margin-bottom: 45px;
    }

    .facilities .carousel {
        margin: 30px auto;
    }

    .facilities .carousel img {
        width: 100%;
        height: 100vh;
    }

    .facilities .facilities-description {
        display: none;
    }

    .facilities .facilities-description h3 {
        margin-top: 25px;
    }

    .facilities .carousel-container {
        padding-bottom: 40px;
    }
}