.footer {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0 45px 0;
}

.footer .icon-arrow {
  width: 45px;
  height: 45px;
  padding: 11px 12px 10px 12.4px;
  background-color: var(--color-secondary-button);
  border-radius: 22.5px;
  box-shadow: 0 2px 4px 0 black;
  transform: translate(0px, -22.5px);
  transition: box-shadow ease-out 0.7s;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.footer__elements {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer .list-sections,
.footer .list-socialmedia {
    list-style: none;
    margin: 15px 0 15px 0;    
}

.footer .list-sections .link-sections,
.footer .list-socialmedia .link-socialmedia {
      padding: 15px;
}

.footer .list-sections .link-sections:hover,
.footer .list-socialmedia .link-socialmedia:hover {
  font-weight: bold;
}

.footer .copy {
  margin-top: 15px;
}

.footer .copy .heart-icon {
  color: var(--font-color-midtone);
}

  /* TABLET */
@media all and (min-width: 768px) {
  .footer__elements {
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 0 39px;
  }

  .footer .list-sections,
  .footer .list-socialmedia {
    margin: 0px;
  }

  .footer .copy{
    order: -2;
  }
}

/* DESKTOP */
@media all and (min-width: 1280px) {
  .footer__elements {
    max-width: 1280px;
    padding: 0 370px;
  }
}
