.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header__hero h1 {
  width: 290px;
  color: var(--font-color-light);
}

.header .header__hero .wave-svg {
  width: 120%;
  height: 45px;
  background-image: url(../../images/wave.svg);
  display: block;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
}


.header .header__hero .wave {
  width: 100vw;
  background: linear-gradient(rgba(25 , 179, 252, 0.7), rgb(25 , 179, 252));
}

.header .header__hero .wave .slogan {
  margin: 35px 15px 25px 15px;
  
}

  .wave-svg {
    width: 120%;
    animation-name: wave;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-delay: 1s;
  }
  
  @keyframes wave {
      from {
        transform: translateX(0) rotate(180deg);
      }
      50% {
        transform: translateX(40px) rotate(180deg);
      }
      to {
        transform: translateX(0) rotate(180deg);
      }
    }

/* TABLET */
@media all and (min-width: 768px) {
  .header__hero .h1 {
    width: 700px;
  }

  .header .header__hero .wave .slogan {
    margin: 40px 0 30px 0;
  }

}


/* DESKTOP */

@media all and (min-width: 1280px) {
  .header {
    background-position: center left;
  }

  .header__hero .h1 {
    width: 950px;
  }

  @keyframes wave {
    from {
      transform: translateX(0) rotate(180deg);
    }
    50% {
      transform: translateX(120px) rotate(180deg);
    }
    to {
      transform: translateX(0) rotate(180deg);
    }
  }
}