.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/cover.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header__hero {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__hero h1 {
  color: var(--font-color-dark-midtone);
}

.header .slogan {
  margin: 10px 0 45px 0;
}

/* TABLET */
@media all and (min-width: 768px) {
  .header__hero {
    width: 690px;
  }

  .header .slogan {
    margin: 20px 0 30px 0;
  }

}


/* // DESKTOP */

@media all and (min-width: 1280px) {
  .header {
    background-position: center left;
  }

  .header__hero {
    width: 730px;
  }

  .header .slogan{
    margin-top: 0px;
  }
}

