.section01-cover {
  background-color: var(--color-light);
  width: 100%;
}

.section01 {
  max-width: 320px;
  margin: auto;
  padding: 30px 15px 45px 15px;
}

.section01 .section-title {
  margin: 1px 0 15px 0;
}

.section01__button {
  width: 76px;
  height: 45px;
  color: var(--color-primary-button);
  background-color: var(--color-secondary-button);
  border: var(--color-primary-button) solid 2px;
  border-radius: 22.5px;
  margin-top: 30px;
  transition: box-shadow ease-in 0.7s, font-size ease 0.7s;
}

.section01__button:hover {
  box-shadow: 2px 4px 4px 0 black;
}

.section01__button:active {
  color: var(--color-secondary-button);
  font-size: 18px;
  background-color: var(--color-primary-button);
  box-shadow: none;
}

/* TABLET */

@media all and (min-width: 768px) {
  .section01 {
    max-width: 768px;
    padding: 30px 39px 60px 39px;
  }

  .section01 .section-title {
    margin: 0px 0 30px 0;
  }
}

/* DESKTOP */

@media all and (min-width: 1280px) {
  .section01 {
    max-width: 1280px;
    padding: 60px 275px 60px 275px;
  }
}