.section02 {
  background-color: var(--color-dark);
  width: 100%;
  padding: 30px 0px 60px 0px;
  text-align: center;
}

.section02__button {
  width: 140px;
  height: 35px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: none;
  border-radius: 22.5px;
  margin: 15px;
}

.section02__button:hover {
  border: var(--color-dark) solid 2px;
}

.section02__button:active {
  color: var(--color-light);
  font-weight: bold;
  background-color: var(--color-dark);
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
}

.article-container .article img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: var(--color-header) solid 10px;
  transform: translateY(50px);
  z-index: 2;
  
}

.article-container .article-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 55px 10px 10px 10px;
  color: white;
  width: 220px;
  height: 300px;
  margin: auto;
  border-radius: 12px;
}

.article1 .article-box {
  background-color: var(--color-estrellita);
}

.article2 .article-box {
  background-color: var(--color-tortuga);
}

.article3 .article-box {
  background-color: var(--color-pez);
}

/* TABLET */
@media all and (min-width: 768px){
  .section02 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .article-container .article-box {
    width: 200px;
    height: 330px;
  }

  .article-container .article {
    width: 210px;
  }

  .article-container .article .article-title {
    margin-bottom: 14px;
  }
}

/* // DESKTOP */
@media all and (min-width: 1280px) {

  .article-container .article img {
    width: 240px;
    height: 240px;
  }

  .article-container .article-box {
    width: 260px;
    height: 290px;
  }

  .article-container {
    grid-gap: 26.2px;
  }

  .article-container .article {
    width: 350px;
  }
}