.header__menu-bar {
    display: none;
}

/* DESKTOP */
@media all and (min-width: 1280px) {
    .header__menu-bar {
        position: fixed;
        width: 100vw;
        height: 80px;;
        background-color: rgba(252,252, 252, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }

    .header__menu-bar img {
        width: 180px;
        height: 180px;
        /* background-color: white;
        border-radius: 80%; */
    }

    .header__menu-bar ul {
        display: flex;
    }

    .header__menu-bar ul li {
        padding: 20px;
    }

}