/* header */
.menu {
  font-family: var(--font-family-text);
  font-size: 25px;
}

.header__hero {
  color: var(--font-color-light);
}

.header__hero .h1 {
  font-family: var(--font-family-titles);
  font-size: bold;
  font-size: 42px;
  /* text-transform: uppercase; */
}

.header__hero .slogan {
  font-family: var(--font-family-text);
  font-size: 16px;
  line-height: 21px;
}

/* TABLET */
@media all and (min-width: 768px) {
  .header__hero .h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .header__hero .slogan{
    font-size: 24px;
  }
}

/* // DESKTOP */
@media all and (min-width: 1280px) {
  .header__hero .h1 {
    font-size: 60px;
    line-height: 90px;
  }
}


/* // sections */

.section-title {
  color: var(--color-pulpito);
  font-family: var(--font-family-titles);
  font-size: 26px;
  text-align: center;
}

.article-title {
  font-family: var(--font-family-titles);
  font-size: 20px;
}

.small-title {
  color: var(--font-color-light-midtone);
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
.contact,
.section02 {
  font-family: var(--font-family-text);
  font-size: 18px;
  line-height: 30px;
}

.contact__button,
.section02__button {
  font-family: var(--font-family-text);
  font-weight: 500;
  font-size: 15px;
}

.contact {
  color: var(--font-color-dark-midtone);
}

.contact input::placeholder {
  color: var(--color-dark);
  opacity: 0.9;
  font-family: var(--font-family-text);
  font-size: 16px;
}

.contact .textarea::placeholder {
  color: var(--color-dark);
  opacity: 0.9;
  font-family: var(--font-family-text);
  font-size: 16px;
}

/* // TABLET */

@media all and (min-width: 768px) {
  .section-title {
    font-size: 26px;
    line-height: 45px;
  }

  .article-title {
    font-size: 24px;
  }

  .contact,
  .section02 {
    font-size: 20px;
  }
}

/* // DESKTOP */
@media all and (min-width: 1280px) {
  .section-title {
    font-size: 34px;
  }

  .small-title {
    font-size: 16px;
  }
}


/* // footer */

.footer-nav {
  color: var(--font-color-dark);
  font-family: var(--font-family-text);
  text-align: center;
}

.footer__elements {
  color: var(--font-color-light);
  font-family: var(--font-family-text);
  text-align: center;
}

.list-sections,
.list-socialmedia {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}
